.button {
  outline: none;
  border: none;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  color: #ffffff;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}
.button:disabled {
  cursor: unset;
}

.button-sm {
  padding: 8px 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.button-md {
  padding: 10px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.button-lg {
  padding: 10px 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.button-xl {
  padding: 12px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.button-xxl {
  padding: 16px 28px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.button-primary {
  border: 1px solid var(--brand-600, #7f56d9);
  background: var(--brand-600, #7f56d9);
  color: var(--white, #fff);
}
.button-primary:disabled,
.button-primary:disabled:hover {
  border-radius: 8px;
  border: 1px solid var(--brand-200, #e9d7fe);
  background: var(--brand-200, #e9d7fe);
}
.button-primary:hover {
  border: 1px solid var(--brand-700, #6941c6);
  background: var(--brand-700, #6941c6);
}

.button-secondary {
  border: 1px solid var(--brand-50, #f9f5ff);
  background: var(--brand-50, #f9f5ff);
  color: var(--brand-700, #6941c6);
}
.button-secondary:disabled,
.button-secondary:disabled:hover {
  border: 1px solid var(--brand-25, #fcfaff);
  background: var(--brand-25, #fcfaff);
  color: var(--brand-300, #d6bbfb);
}
.button-secondary:hover {
  border: 1px solid var(--brand-100, #f4ebff);
  background: var(--brand-100, #f4ebff);
}

.button-tertiary {
  border: 1px solid transparent;
  background: transparent;
  color: var(--brand-700, #6941c6);
}
.button-tertiary:disabled,
.button-tertiary:disabled:hover {
  color: var(--gray-300, #d0d5dd);
}
.button-tertiary:hover {
  background: var(--brand-50, #f9f5ff);
}
