.button {
  outline: none;
  border: none;

  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  color: #ffffff;
}

.button-sm {
  padding: 8px 14px;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.button-md {
  padding: 10px 16px;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.button-lg {
  padding: 10px 18px;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.button-xl {
  padding: 12px 20px;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.button-xxl {
  padding: 16px 28px;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
