.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 6px;
}

.input {
  display: flex;
  padding: 9px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d0d5dd);
  background: var(--white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  outline: none;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-900, #101828);
  box-sizing: border-box;
}
.input:focus {
  border: 1px solid var(--brand-300, #d6bbfb);
  background: var(--white, #fff);
  box-shadow: 0px 0px 0px 4px #f4ebff, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.input:disabled {
  background: var(--gray-50, #f9fafb);
  color: var(--gray-500, #667085);
}

.label {
  color: var(--gray-700, #344054);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.hint {
  color: var(--gray-500, #667085);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
